@tailwind base;
@tailwind components;
@tailwind utilities;

.categoryCard {
  @apply bg-white shadow rounded-lg py-6 text-center text-lg font-semibold hover:bg-blue-600 hover:text-white transition cursor-pointer;
}

